@namespace AntXafSite.Pages.Users
@layout UserLayout
@page "/users/login"

<div class="main__b__0">
    <div class="login">
        <Form Model="@model" OnFinish="HandleSubmit">
            <Tabs>
                <TabPane Key="1" Tab="登入">
                    <FormItem>
                        <AntDesign.Input Placeholder="使用者名稱 " Size="large" @bind-Value="@context.Username">
                            <Prefix><Icon Type="user" /></Prefix>
                        </AntDesign.Input>
                    </FormItem>
                    <FormItem>
                        <AntDesign.Input Placeholder="密碼 " Size="large" @bind-Value="@context.Password" Type="password">
                            <Prefix><Icon Type="lock" /></Prefix>
                        </AntDesign.Input>
                    </FormItem>
                </TabPane>
            </Tabs>
            <div>
                <Checkbox Checked="@context.RememberMe">
                    Remember Me
                </Checkbox>
                <a style="float: right;">
                    Forgot Password
                </a>
            </div>
            <Button Type="primary" HtmlType="submit" Class="submit" Size="large" Block>Log in </Button>

        </Form>
    </div>
</div>